<!DOCTYPE html>
<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>My Profile</h1>
        {% if request.user.profile.profile_picture %}
            <img src="{{ request.user.profile.profile_picture.url }}" 
            width="200" 
            height="200"
            style="border-radius: 50%;object-fit:cover"">
        {% endif %}
        <p>Username: {{request.user.username}}</p>
        <p>Email: {{request.user.email}}</p>
        <p>Bio: {{request.user.profile.bio}}</p>
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
            {{form.as_p}}
            <button type="submit">Save</button>
            <a href="/home/">Home</a>
            <a href="/logout/">Logout</a>
        </form>
    </body>
</html>